---
// Astro Components Imports
import Layout from '@/layouts/Layout.astro'
import { Image } from 'astro:assets'

// Data Imports
import { projects } from '@/constants/projects'
import { projectUi } from '@/constants/ui-locale'
import { techStack } from '@/constants/site-data'

// Utility Imports
import { slugify, projectTextArray } from '@/lib/utils'
import ImageGallery from '@/components/projects/ImageGallery.astro'

// Finding the project in the projects array
const backswingInfo = projects.find((project) => project.title === 'Backswing')

// Destructuring the project information
const uiText = projectUi.es

const {
	title,
	images,
	service,
	color,
	goal,
	tech,
	links,
	results,
	testimonial,
	timeFrame,
	// biome-ignore lint/style/noNonNullAssertion: <explanation>
} = backswingInfo!

// Project Timeline
const timeline = projectTextArray(timeFrame)
---
<Layout title={title} locale='es'>
  <section id={`${slugify(title)}-info`} class="mx-auto max-w-screen-2xl px-4 sm:px-6 lg:px-8 mt-3 pt-10 pb-20 relative flex">
    <ImageGallery images={images} title={title} color={color} testimonial={testimonial} results={results} links={links} uiText={uiText['project-links']} />
    <aside class="sticky top-0 flex-1 h-fit pt-5 2xl:pt-10 pl-10">
      <h2 class="text-charcoal text-xl md:text-3xl tracking-wide uppercase">{service}</h2>
      <h1 style=`color: #${color}` class="text-9xl font-bold uppercase" transition:name={`${slugify(title)}-title`}>{title}</h1>
      <hr class="bg-navy/30 border w-full my-5" />
      <div class="w-full grid grid-cols-2 gap-10">
        <div class="col-span-1">
          <strong class="uppercase tracking-wide">{uiText['project-goal']}</strong>
          <p class="font-light">{goal}</p>
        </div>
        <div class="col-span-1">
          <strong class="uppercase tracking-wide">{uiText['project-time']}</strong>
          <ul>
            {timeline.map((item) => (
              <li class="font-light">{item}</li>
            ))}
          </ul>
        </div>
      </div>
      <hr class="bg-navy/30 border w-full my-5" />
      <ul class="flex gap-10 w-fit">
        {
          tech.map((tech) => (
            <li class="w-10 md:w-16 h-10 md:h-16">
              <a href={techStack[tech].route} target='_blank' rel='noopener noreferrer'>
                <Image
                  width={100}
                  height={100}
                  title={techStack[tech].label}
                  alt={techStack[tech].label}
                  loading='eager'
                  src={`https://cdn.simpleicons.org/${techStack[tech].label}/${color}`}
                  class='opacity-75 hover:opacity-100 transition-opacity duration-300 h-full w-full object-cover'
                />
              </a>
            </li>
          ))
        }
      </ul>
    </aside>
  </section>
</Layout>