---
import Footer from '@/components/layout/Footer.astro'
import Navbar from '@/components/layout/Navbar.astro'
import { ViewTransitions } from 'astro:transitions'
import '@/styles/globals.css'

interface Props {
	title: string
	locale: 'es' | 'en' | 'rs'
}

const { title, locale } = Astro.props
---

<!doctype html>
<html lang={locale}>
  <head>
     <ViewTransitions />
    <meta charset='UTF-8' />
    <meta name='description' content='Astro description' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='generator' content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="overflow-x-hidden">
    <Navbar locale={locale} />
    <main>
      <slot />
    </main>
    <Footer locale={locale} />
  </body>
</html>
